










.link:hover,
.link:focus {
    color: var(--primary-brand-color);
}



/* font styles and colors */







.our-team .heading,
.our-clients .heading {
    font-size: 36px;
    line-height: 1.17;
}



.examples .heading {
    font-size: 18px;
    line-height: 2;
}





.examples .txt-gray {
    line-height: 1.88;
    color: var(--secondary-text-color);
}




/* background colors */






/* geometry */




.list.flex {
    margin: 0 auto;
}

.headline,
.agency h2 {
    text-align: center;
}



.heading {
    margin: 0 auto;
}

.filter .flex {
    justify-content: center;
}

.filter .list-item {
    margin: 0px 4px 0px 4px;
}

.filter .list-item:first-child {
    margin-left: 0px;
}

.filter .list-item:last-child {
    margin-right: 0px;
}

.examples {
    padding-top: 34px;
}

.filter {
    padding-bottom: 16px;
}

.portfolio .flex {
    flex-wrap: wrap;
    gap: 30px;
}

.img-description {
    border-width: 0px 1px 1px 1px;
    border-color: var(--quaternary-bgrd-color);
    border-style: solid;
}




.examples .img-description {
    padding: 20px 24px;
}

.examples .heading {
    margin-bottom: 4px;
}



.contacts__icon {
    margin-right: 10px;
}

.contacts__link,
.contacts__link:visited {
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
     fill: var(--primary-brand-color);
}

.contact.flex {
    gap: 0px;
    align-items: center;
}

.icon-card {
    background-color: var(--secondary-brand-color);
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
}

.our-team .socials {
    padding: 16px 32px 0px;
}

.our-team .socials-icon {
    padding: 12px;
    fill: var(--quaternary-brand-color);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.example-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-card:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}





.example-card .box{
    position: relative;
    overflow: hidden;
}

.example-card .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--primary-brand-color);
    opacity: 90%;
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--tertiary-text-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-card:hover .overlay {
    transform: translateY(0);
}

/* MODAL WINDOW */



